{erl_opts, [debug_info]}.
{deps, [{http_interface, {git, "git@github.com:fishballian/http_interface.git", {branch, master}}}]}.

{relx, [{release, { http_interface_rel, "0.1.0" },
         [http_interface_rel,
          sasl,
          mnesia,
          resource_discovery,
          simple_cache,
          gen_web_server,
          http_interface]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
